<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>skrrt.io</title>

    <link rel="stylesheet" href="/css/main.css">

    <script src="/javascript.js"></script>
</head>
<body>
<div class="page" id="loginPage">
    <ul id="skrt"></ul>
</div>


<div class="page hidden" id="gamePage">
    <canvas width="1" height="1" id="gameCanvas"></canvas>
</div>

</body>
</html>